/* h1{
  line-height: 1.5;
  margin-bottom: 0.5;
  display: block;
  unicode-bidi: isolate
} */
/* h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: var(--tershiry);
  margin-top: 0;
  font-weight: 400;
} */
/* h2 .h2{
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 540px;
  unicode-bidi: isolate;
}  */
/* col-md-10{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
} */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.container{
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}
/* HEADER */
.headBox{
  width: 400px;
  height: 506px;
  border-radius: 20px;
  box-shadow: 0px 24px 36px -11px rgba(176, 170, 170, 0.9);
  font-weight: 20px;
  text-align: left center;
  padding: 20px;
  background: linear-gradient(180deg, #e1f0ea, rgba(106, 191, 215, 0) 95.62%);
  margin-top: 30px;
  margin-left: 20px;
}
.header .text{
  width: 100%;
  flex-direction: column;
}
.btn{
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, .9);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: flex-end;
}
.slider-item{
  width: 20px;
}
/* ABOUT */

.mb-4{
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 700px;
  margin-bottom: 1.5rem !important;
}
h1, h2{
  font-family: 'Playfain Display',serif;
}

.heading-section h1.big{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 7vw;
  color: rgba(255, 255, 255, .1);
  z-index: -1;
  font-weight: 900;
}
.heading-section h1.big.big-2{
  right: 0;
}

.heading-section h2{
  font-size: 66px;
  font-weight: 700;
}

 .ftco-section{
  padding: 3em 2px;
  position: relative;
 }

 .table{
  /* background:pink; */
  border:2px solid lightgray;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  margin-left: 70px;
 }

.table .table-heading{
  text-align: center;
  text-transform: capitalize;
}
.table-row td{
  text-transform: capitalize;
}

.ex-1 .col-md-6{
  padding: 4px;
}

.resume-wrap{
  background-color: lightgray;
  text-align: center;
  border-radius: 8px;
  border-style: 12px solid darkgray;
  
}

.skill-mf .progress{
  background-color: darkgray;
  margin: .5rem 0 1.2rem 0;
  height: .7rem;
}

.skill-mf .progress .progress-bar{
  height: .7rem;
  background-color: lightgray;
}
.progress{
  width: 59rem;
}
.experience .skill{
  font-size: larger;
  margin-left: 70px;
}
.img{
  padding: 2px;
  width: 208px;
}
/* FOOTER */
.copyright{
  background: var(--gfg-footer-background);
  border-top: 1px solid var(--footer-strip-border-color);
}
footer{
  text-align: center;
  font-family: var(--font-secondary);
  background-color:lightgray;
}
footer .footer-strip{
  font-size: 11pt;
}
.footer-container_left{
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.footer-container_middle{
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.footer-container_right{
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: auto;
  align-items: center;

}
.footer-container{
  background-color: var(--gfg-footer-background);
  border-top: 1px solid var(--footer-strip-border-color);
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}
.footer-container .mb-4{
  font-size: 15px;font-weight: 600; margin: 4px 0 0 4px;
}
.footer-container .mb-5{
  color: var(--gfg-footer-text-color);
}

/* ABOUT */






